html, body {
  margin: 0;
  padding: 0;
}

body {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  max-width: 100%;
  text-align: center;
}

.welcome-page.initial {
  margin-top: 15%;
}

.input-group {
  width: 100%;
  border-radius: 55px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.2s;
}

.input-group:hover,
.input-group:focus-within {
  transform: scale(1.05);
}

.form-control {
  padding-left: 55px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.App{
  width: 100%;
}

#root{
  width: 100%;
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    3px 3px 8px rgba(0, 0, 0, 0.9); /* Increase text shadow on hover */
  transition: transform 0.2s;
}

.title:hover {
  transform: scale(1.1);
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    3px 3px 8px rgba(0, 0, 0, 0.9); /* Increase text shadow on hover */
}