html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../public/images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  max-width: 100%; /* Set a maximum width for the welcome page */
  text-align: center; /* Centers text horizontally */
}

.welcome-page.initial {
  margin-top: 15%;
}

.input-group {
  width: 100%; /* Make the input group take the full width of its container */
}

.form-control {
  padding-left: 55px; /* Adjust this value to make space for the icon */
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none; /* Prevents the icon from blocking input clicks */
}

.App{
  width: 100%;
}

#root{
  width: 100%;
}