html, body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  max-width: 100%;
  text-align: center;
}

.welcome-page.initial {
  margin-top: 15%;
}

.input-group {
  width: 100%;
  border-radius: 55px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
}

.input-group:hover,
.input-group:focus-within {
  transform: scale(1.05);
}

.form-control {
  padding-left: 55px;
  padding-right: 55px;
}

.input-icon-left {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  z-index: 1;
}

.input-icon-right {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
  pointer-events: auto;
}

.App{
  width: 100%;
}

#root{
  width: 100%;
}

.query {
  transition: transform 0.2s, box-shadow 0.2s;
}

.query:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    3px 3px 8px rgba(0, 0, 0, 0.9);
  transition: transform 0.2s;
}

.title:hover {
  transform: scale(1.1);
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    3px 3px 8px rgba(0, 0, 0, 0.9);
}

.card{
  background-color: #f9dcbd;
}

.card-body{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.card-subtitle{
  margin-bottom: 10px;
}

.card-divider{
  border-top: 2px solid #333;
  margin: 10px 0;
  margin-top: 20px;
}

.episode-summary-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.episode-summary-text {
  margin-top: 10px;
  text-align: justify;
}

.anime-notes{
  margin-top: 20px;
  text-align: justify;
}

.detail-subtitle{
  margin-top: 10px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: #fff;
  margin-left: 10px;
  font-size: 1.5rem;
}

.section-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.filters-container {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-right: 20px;
}

.form-group:last-child {
  margin-right: 0;
}

.modal-content{
  background-color: #f9dcbd;
}

.modal-header{
  justify-content: center;
  border-bottom: 2px solid #333;
}

.modal-title{
  font-size: 2.5rem;
}

.modal-body{
  border-bottom: 2px solid #333;
}